@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../components/Button/styles.scss";

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.tel-input .PhoneInputInput {
  outline: none;
  padding: 1px;
  font-size: 14px;
}

input:focus::placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
}

::placeholder {
  color: rgb(160, 154, 154);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  color: rgb(160, 154, 154);
} /* Edge 12 -18 */
::-webkit-input-placeholder {
  color: rgb(160, 154, 154);
}
:-moz-placeholder {
  color: rgb(160, 154, 154);
} /* FF 4-18 */
::-moz-placeholder {
  color: rgb(160, 154, 154);
} /* FF 19+ */

.circle-dshb {
  transition: all 0.7s ease-in-out;
}

// Onboarding guide
.driver-popover.onboarding-user-guide {
  background-color: #fff;
  text-align: center;
  counter-reset: rgba(0, 0, 0, 0.82);
}

.driver-popover.onboarding-user-guide .driver-popover-title {
  font-size: 17px;
  color: #410064;
  font-weight: 600;
  padding-top: 12px;
}

.driver-popover.onboarding-user-guide .driver-popover-description {
  line-height: 22px;
}

.driver-popover.onboarding-user-guide button {
  flex: 1;
  text-align: center;
  background-color: #ffc10d;
  color: #000;
  border: 2px solid#FFC10D;
  text-shadow: none;
  font-size: 16px;
  border-radius: 6px;
}

.driver-popover.onboarding-user-guide button:hover {
  background-color: #f1be24;
  color: #fff;
}

// end of onboarding guide
