.rightText {
  position: absolute;
  left: 2%;
  width: 500px;
  height: 250px;
  background-blend-mode: overlay;
  background-image: url("/Images/sp.png");
  background-repeat: none;
  background-position: left;
  background-size: 400 300 contain;
  opacity: 50%;
}

.heroImage {
  background-image: url("/Images/LandingPage/young-man.png");
  background-repeat: none;
  background-size: contain;
}

.heroPoint {
  background: rgba(222, 222, 222, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.16);
}

.heroPoint:hover {
  background: rgba(255, 195, 13, 0.76);
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.16);
}
